# Environments
.env
.venv
env/
venv/
ENV/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Logs and outputs
*.log
task_outputs/

# Local scratchpads and experiments
.ipynb_checkpoints/
multi_agent_crewai/

# IDE files
.vscode/
.idea/

# Project-specific unnecessary files
z_workouts/
temp/
static/
app/resources/*
App_bkp.jsx
*bkp.jsx

old_main.py
